*{
	color: #ffffff;
}


body{
	font-family: 'Poppins', sans-serif;
	background-color: #1a237e;
}

#blog{
	background-color: #fff;
}

h1{
	font-family: 'Poppins', sans-serif;
	font-size: 56px;
	text-align: center;
	background-color: transparent;
}

h2{
	font-family: 'Poppins', sans-serif;
	font-size: 48px;
	text-align: center;
	background-color: transparent;
	margin: 10% 10%;
	line-height: 72px;
	letter-spacing: 0.5px;
}

h3{
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 1px;
	text-align: left;
	background-color: transparent;
}
h4{
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 1px;
	text-align: left;
	background-color: transparent;
}

p{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 24px;
	background-color: transparent;

}

.btn-white{
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.46);
	color: #1a237e;
	font-size: 16px;
	text-transform: uppercase;
	padding: 8px 60px;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	margin-top: 2%;
	text-decoration: none;
}

.btn-blue{
	background-color: #1a237e;
	border-radius: 2px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.46);
	color: #fff;
	font-size: 16px;
	font-weight: 200;
	text-transform: uppercase;
	padding: 8px 60px;
	align-items: center;
	justify-content: center;
	width: auto;
	height: auto;
	margin-top: 2%;
	text-decoration: none;
	letter-spacing: 1px;
}

#top-menu{
	height:60px;
	width:100%;
	position: absolute;
	background-color: transparent;
	margin-top: 10px;
	display: flex;;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

ul{
	display: inline-flex;
	margin: auto;
	background-color: transparent;
	margin-block-start: 0px;
	padding-inline-start: 0px;
}

ul li{
	padding: 32px 32px;
	font-family: 'Poppins', sans-serif;
	background-color: transparent;
}

ul li a{
	text-decoration: none;
}

ul li a:hover{
	text-decoration: underline;
}

ul li a.active{
	text-decoration: underline;
}
ul#top-menu .active{
	text-decoration: underline;
}

.blue{
	color: #1a237e;
}

.white{
	color: #fff;
}

.orange{
	color: #ff8a65;
}

/*index*/

.content-blue{
	height: auto;
	min-height: 640px;
	background-color: #1a237e;
	display: flex;;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.title-orange{
	height: auto;
	min-height: 640px;
	background-color: #ff8a65;
	display: flex;;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}


.content-blue h1{
	background-color: transparent;
	display: flex;;
	flex-direction:row;
	justify-content: center;
	align-items: center;
}

.phone{
	max-width: 181px;
	height: auto;
	background-color: transparent;

}

.content-orange{
	height: auto;
	background-color: #FF8a65;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
}

.title-white{
	height: 100%px;
	background-color: #FFF;
	display: flex;;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	padding: 1%;

}

.wall{
	background-image: url(../img/wall.png);
	background-size: cover;
	background-position: top;
	/* background-attachment: fixed; */
	background-repeat: no-repeat;
}

.atributo-a{
	background-image: url(../img/predio.png);
	background-size: contain;
	background-position: bottom left;
	/* background-attachment: fixed; */
	background-repeat: no-repeat;
}

.atributo-b{
	background-image: url(../img/atributo-b.png);
	background-size: cover;
	/* background-position: top left; */
	/* background-attachment: fixed; */
	background-repeat: no-repeat;
}

.atributo-c{
	background-image: url(../img/atributo-c.png);
	background-size: cover;
	/* background-position: top left; */
	/* background-attachment: fixed; */
	background-repeat: no-repeat;
}


.hero-image{
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	min-height: 400px;

}
.diferenciais{
	height: auto;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	/* max-height:640px; */
	overflow: hidden;
	margin: 10% 0%;
}

.diferenciais>* {
        flex: 0 0 20%;
    }


.diferenciais-item{
	max-width: 300px;
	max-height: 300px;
	padding: 2% 2%;
	display: flex;
	flex-direction:column;
	/* flex-shrink: inherit; */
	justify-content: center;
	align-items: center;
	background-color: transparent;
	/* overflow: hidden; */
	height: auto;
	width: 100%;
}

.diferenciais-item h6{
	font-size: 24px;
	line-height: 32px;
	text-align: center;
}

.diferenciais-item img{
	max-height: 50%;
	width: auto;
}
.destaque{
	background-color: #ff8a65;
	display: inline-flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	height: -webkit-fill-available;
	max-height: 1000px;
}

.destaque-item{
	margin: 0 32px 0 32px;
	display: flex;
	padding-bottom: 10px;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	width: 40%;
	height: -webkit-fill-available;
}

.destaque-item p{
	max-width: 80%;
}

.destaque-right{
	background-image: url('../img/E.png');
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
	height: -webkit-fill-available;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 50%;
	padding:50px;
	max-height 800px;
}



.banner h2{
	font-size: 72px;
	margin: 2% 2%;
	padding: 0;
	text-align: center;
}


.banner{
	height: auto;
	background-color: #ff8a65;
	display: flex;;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	padding: 10% 0;
}

.banner p{
	text-align: center;
    letter-spacing: 2px;
    font-size: 24px;
    margin-top: 5px;
}

/*atributos*/

.atributo{
	height: 50%;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	margin: 40px 40px;
	padding: 40px 40px;
}

.atributo-item{
	margin: 0 32px 0 32px;
	-webkit-box-flex: inherit;
	justify-content:center;
	align-items: center;
	width: 40%;
	position: center;
}

.atributo-item h3{
	color: #1a237e;
}

.atributo-item p{
	color: #1a237e;
}

.content-orange .atributo .atributo-item>p{
	color: #fff;
}

.content-orange .atributo .atributo-item>h3{
	color: #fff;
}

.atributo img{
	max-height: 560px;
	margin: 32px 32px;
	display: flex;
	flex-direction:row;
	justify-content: left;
	align-items: left;
}

.thumb{
	max-width: 50%;
	object-fit: cover;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}


.hero-image-a{
	background-image: url("../img/A.png");
	background-color: #fff;
	height: 320px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
	/* flex-wrap: wrap; */
	display: grid;
	padding: 100px 100px;
	overflow: hidden;
}
#principios{
	height: 1920px;
	background-color: #ffffff;
}

.content-transparent{
	height: auto;
	background-color: #fff;
	display: flex;;
	flex-direction:row;
	justify-content: center;
	align-items: center;

}

/*footer*/

.main{
	height: 320px;
	justify-content: center;
	align-items: center;
	margin-top: 32px;
	padding-top: 1%;

}

.main p{
	margin: 24px 0;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: center;
}

.main .social{
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	padding: 0 32px;
	margin: 0 32px;
}

.main .social li{
	padding: 32px 32px;
}

.main .menu{
	height:60px;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.main .menu ul{
	margin: auto;
}

.main .menu li{
	padding: 32px 32px;
}



/*carousel*/


/*diferenciais*/

#objetivos{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

#objetivos h3{
	text-align: center;
	position: absolute;
	top:10%;
}

/*article*/

#manifesto{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

}

.human-centered{
	background-image: url(../img/Artboard-6.png);
	height: 400px;
	background-size: cover;
	width: 100%;
	position: cover;
	margin: 0 0;
}

.article{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: start;
}

.title{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: start;
	margin: 10% 5% 1% 15%

}

.article .title p{
	font-weight: 400;
	color: #1a237e;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	vertical-align: top;
	margin-top: 0;
	margin-bottom: 0;
}

.article .title h1{
	font-size: 72px;
	color: #1a237e;
	margin: 0 0;
	text-align: left;
	font-weight: 700;
}

.img-caption{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: start;
	margin: 0 32px 56px 48px;
}

.img-caption h6{
	margin: 0;
	color: #1a237e;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: 2px;
	position: absolute;
}


.caption{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: start;
	margin: 0 20% 0 20%;
	line-height: 32px;
	letter-spacing: 1px;
	font-weight: 400;
}


.caption a{
	font-size: 12px;
	color: #1a237e;
	font-weight: 400;
	letter-spacing: 1.5px;
}

.caption p{
	font-size: 12px;
	color: #1a237e;
	font-weight: 400;
	letter-spacing: 1.5px;
}

.article-body{
	max-width: 75%;
	flex-direction: column;
	align-content: center;
	justify-content: start;
	margin: 0 20% 1% 20%;
}

.article-body p{
	color: #1a237e;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 1px;
}
.article-body p em{
	color: #1a237e;
	font-size: 16px;
	line-height: 24px;
	font-style: oblique;
}

.article-body h4{
margin: 5% 5%;
}

.article-body h4 em{
	color: #1a237e;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	font-style: oblique;
}

.article-body h3{
	color: #1a237e;
	font-size: 24px;
	font-weight: bolder;
	line-height: 32px;
	text-decoration: underline;
}

.references{
margin-top: 56px;
}

.references p{
	letter-spacing: 2px;
	margin-left: 24px;
	font-weight: 300;
}

.link{
	color: #ff8a65;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	margin: 5% 15% 5% 15%;
}

.link a{
	color: #ff8a65;
	font-size: 24px;
	line-height: 24px;
}

.divider{
	height: 1px;
	background-color: #1a237e;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	max-width: 90%;
	margin: 2% 10%;
}

.tags{
	display: inline-flex;
	flex-direction: row;
	justify-content: start;
	align-content: start;
	/* max-width: 90%; */
	margin: 3% 20%;
}

.chip{
	height: 24px;
	width: fit-content;
	padding: 1px 16px;
	background-color: #c5cae9;
	border-radius: 24px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	/* align-content: center; */
	align-items: center;
	margin-right: 2%;
}

.chip h3{
	font-size: 8px;
	color: #1a237e;
}

.full{
	width: 100%;
	height: auto;
	margin: 5% 0;

}

/*grid*/

#grid{

}

.map{
	margin: 5%;
}

.map a{
	font-weight: 400;
	color: #1a237e;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	vertical-align: top;
	margin-top: 0;
	margin-bottom: 0;
}

.map p{
	font-weight: 400;
	color: #1a237e;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	vertical-align: top;
	margin-top: 0;
	margin-bottom: 0;
}

#grid{
	margin: 1% 10%;
}

.grid-chapter{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: center;
	margin: 2% 2%;
}

.grid-chapter li{
	width: 33%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	margin: 2% 2%;
	padding: 0;
	transition: 0.3s;
}

.grid-chapter img{
	width: 100%;
	height: auto;
	background-color: #fff;
	transition: 0.3s;
}

.grid-chapter img:hover{
	transition: 0.3s;
	z-index: 9999999;
	opacity: 0.5;
	fill: #1a237e;
}

.nomargin{
	margin: 0;
}

.center{
	text-align: center;
	letter-spacing: 1px;
}

/*diamond*/

.diamond-list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
	overflow: hidden;
	padding: 5% 1%;
}

.diamond{
	margin: 0;
	height: auto;
	width: 100%;
}


.diamond:hover{
	opacity: 0.5;
}

.content-white{
	height: auto;
	min-height: 640px;
	background-color: #fff;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	padding: 0 5%;
}


.content-orange-clm{
	height: auto;
	background-color: #FF8a65;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	padding: 5% 5%;
}

.blue-white{
 	/*background-image: url('../img/Artboard-trans.png');
 	background-size: cover;
 	background-attachment: fixed;
 	position: bottom center;*/
 	background-color: #ff8a65;
 	height: auto;
 	display: flex;
 	flex-direction:column;
 	justify-content: center;
 	align-items: center;
 	margin: 0;
 	padding: 0;
}
.cadeira{
	background-image:url('../img/cadeira.png');
	background-size: auto 51%;
	background-repeat: no-repeat;
	background-position: bottom left;
	/* background-clip:content-box; */
	height: -webkit-fill-available;
	background-attachment: fixed;
	/* max-height: 640px; */
	width: 100%;
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0 0 0 0;
	z-index: 999999;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
}

.margin{
	padding: 20% 10%;
}

.cadeira img{
	position: relative;
	width: 30%;
	height: auto;
	margin-left: 50%;
	margin-top: 1%;
	margin-bottom: 5%;
}

.spacer{
	height: 100px;
	width: 100%;
}

/*imagens do banner*/

.introducao{
background-image: url(../img/tiles.png);
	background-size: cover;
}

.humana{
background-image: url(../img/atributo-b.png);
	background-size: cover;
}

.wall{
	background-image: url(../img/wall.png);
	background-size: cover;
}

.pesquisa{
	background-color: #1a237e;
}

.contemporaneos{
	background-image: url(../img/photo-1511352015382-902404d75843.jpeg);
	background-size: cover;
	background-position: bottom;
}
.inovacao{
	background-image: url(../img/cadeira.png);
	background-size: cover;
}

.confianca{
	background-image: url(../img/affection-bike-child-1128318.jpg);
	background-size: cover;
	background-position: bottom;
}

.espaco-tempo{
	background-image: url(../img/black-and-white-clean-cleaning-4414.jpg);
	background-size: cover;
	background-position: bottom;
}

.capital{
	background-image: url(../img/C.png);
	background-size: cover;
}
